[user]
    name = koka
    email = koka.code@gmail.com
    signingkey = FBCA28DB3AAD69A9C3D2DB162614F77BB077D125
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[ghq]
    root = ~/Documents/src/go/src
[core]
    editor = /usr/local/bin/vim
    excludesfile = /home/koka/dotfiles/gitignore_global
    attributesfile = /home/koka/dotfiles/gitattributes_global
    autocrlf = input
[credential]
    helper = store
[push]
    default = simple
[github]
    user = koka831
[init]
    templatedir = /home/koka/dotfiles/.git_template
[ghi]
    token = 751cf9cde22a3a8fd8807929fa346e96cf29aa0b
[secrets]
    providers = git secrets --aws-provider
    patterns = [A-Z0-9]{20}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    allowed = AKIAIOSFODNN7EXAMPLE
    allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
